@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --font-simple: white;
  --backGcolor: #000015;
  --btnColor: #D20909;
  --shadow: #000000;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(44, 172, 189, 0.1) 30%, rgba(44, 172, 189, 0) 100%);
  background-color: var(--backGcolor);
  font-family: 'Roboto', sans-serif;
}


.container {
  height: 100vh;
  min-height: 40rem;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login {
  height: 35rem;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroud-image {
  height: inherit;
  width: 30%;
  min-width: 20rem;

  background-image: url('../img/background-auth.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;

  transition: all 0.5s ease-in-out;
}

.backgroud-image::after {
  content: "";
  background-color: rgba(0, 0, 17, .20);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

.form-auth {
  padding: 3rem 2rem;

  text-align: center;
  height: inherit;
  width: 30%;
  min-width: 20rem;
  background-color: white;

  border-bottom-right-radius: 0.8rem;
  border-top-right-radius: 0.8rem;

  position: relative;
  z-index: 0;

  overflow: hidden;

  transition: all 0.5s ease-in-out;
}

.form-auth-container {
  display: none;
}

.form-auth input[type="text"],
.form-auth input[type="password"] {
  outline: none;
  border: 1px solid #080829;

  width: 100%;
  margin: 0.5rem 0;
  height: 2rem;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
}

.container-login h2 {
  margin-bottom: 3rem;
}

.form-auth input[type="submit"],
.form-auth input[type="button"] {
  outline: none;
  border: none;
  background-color: #D20909;
  width: 100%;
  margin: 0.2rem 0 0.5rem 0;
  height: 2rem;
  border-radius: 0.3rem;
  color: white;

  font-weight: 400;
  cursor: pointer;
}

.warning {
  display: block;
  margin-top: 0.5rem;
  text-align: right;
  color: #D20909;
  font-size: 0.85rem;
}


#forgot-password,
#previous {
  text-decoration: none;
  text-align: right;
  max-width: 100%;
  color: #545454;
  font-size: 0.95rem;
  display: block;

  margin-bottom: 4rem;
  cursor: pointer;
}

#previous {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#forgot-password:hover,
#previous:hover {
  color: #D20909;
}

#link-sign-up {
  color: #545454;
  font-size: 0.95rem;
}


.form-auth-container.is-active {
  display: block;
}

.form-auth.is-active {
  transform: translate(-100%);
  border-radius: 0;
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}

.backgroud-image.is-active {
  border-radius: 0;
  border-bottom-right-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  transform: translate(100%);
}

#form-signUp form,
#form-signUp-2 form {
  margin-bottom: 2rem;
}

#form-signUp-2 p {
  margin-top: -1rem;
  margin-bottom: 2rem;
}

#form-signUp h2 {
  margin-bottom: 2rem;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #080829;
  border-radius: 0.3rem;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  min-width: 100%;
  color: #545454;
}

input[type="date"] {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  color: #545454;

  border: 1px solid #080829;
  border-radius: 0.3rem;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;

  margin: 0.3rem 0 .7rem;
  min-width: 100%;
}