@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.flex-footer .social-medias .logo-footer{
    width: 10em;
}

.flex-footer .menu-footer a{
    display: block;
    text-align:left;
    margin: 1em;
}

.flex-footer .menu-footer a:hover{
    color:#C7C7C7;
}

.flex-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-footer article{
    margin:1em;
}

.developer a{
    padding: 0.5em;
}


footer hr{
    background-color: white;
}


.container-footer{
    margin-top: 3em;
}

.flex-footer .API-footer img{
   width: 5em;
}

@media only screen and (min-width:1035px){

    .flex-footer{
        justify-content: space-around;
    }
}