@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

:root{
    --font-simple : white;
    --backGcolor : #000011;
    --btnColor : #D20909;
    --shadow : #000000;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:var(--font-simple);
}

.search, .avatar, .menu{
    display: none;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

html{
    font-size: 17px;
}

img{
    max-width: 100%;
}

body{
    text-align: center;
    background-color: var(--backGcolor);
    color: var(--font-simple);
    overflow-x: hidden;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container{
    position: relative;
    min-height: 100vh;
    width: inherit;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,172,189,0.1) 30%, rgba(44,172,189,0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    overflow-x: hidden;
}

/*/////////////////////////////////////HEADER*/
header h1{
    font-family: 'Rubik Wet Paint', cursive;
    letter-spacing: 0.625em;
    font-size: 1.56em;
    padding-top: 1.5em;
}

header{
    background-image:url('../img/image-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    overflow: hidden;
}

.flex, .info-mobile{
    position: relative;
    z-index: 1;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.menu-hamburger{
    width: 100vw;
    padding: 2em;
    justify-content: space-around;
}

header .flex .logo{
    width: 9em;
}

.hero-mobile, .hero-pc{
    position: fixed;
    z-index: -1;
    left: 0;
    width: 100%;
}

header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,17,.98) 0%, rgba(5,5,24,0.3) 20%, rgba(4,4,20,0.4) 30%, rgba(3,3,15,0.21) 84%, rgba(0,0,0,0) 100%);
}

.hero-mobile img{
    height: 100%;
    width: 100%;
}


.menu{
    width: 100%;
    padding-top:2em;
}

.menu nav ul{
    margin: auto;
    display: flex;
    font-size: 1.25em;
    padding:1em 0;
}


.menu nav ul a{
    margin-left: 2em;
}

.menu nav ul a:hover{
    border-bottom: 0.1875em solid var(--font-simple);
}

.search{
    margin: auto;
    padding: 1em;
}


.search .search-flex{
    background-color: #FFFFFF;
    border-radius: 1.5em;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    margin: auto;
    width: 10em;
    height: 2.5em;

    box-shadow: 0.0625em 0.15em 0.375em var(--shadow);
    transition: 0.3s all ease-in-out;
}

.search-flex.is-active{
    width: 20em;
}

svg{
    width: 3em;
    height: 80%;
    fill:#8E8E8E;
} 

.search-flex p{  
    font-size: 1.3em;
    font-family: 'Roboto';
    width: 3em;
    color:#8E8E8E
}

.avatar{
    margin: auto;
    border-radius: 6.25em;
    width: 5.06em;
    height: 5.06em;
    overflow: hidden;
    box-shadow: 0.0625em 0.15em 0.375em var(--shadow);
}

.avatar img{
    width: 5.06em;
    height: 5.06em;
    object-fit: cover;
}

.info-mobile{
    padding: 1em;
}

[class*='btns-']{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 100%;
    overflow: hidden;
    padding: 0 4em;
}

[class*='btn-watch']{
    color:black;
    font-weight:bold;
    height: 3em;
    border-radius: 0.625em;
    outline: none;
    border: none;
    font-size: 1em;
    margin: 0.6em 0.4em;
}

.btn-watch-now{
    background-color: var(--btnColor);
    color:var(--font-simple);
}

.btn-watch-list{
    font-weight: normal;
}

main{
    margin-bottom: 5em;
}


footer{
    position: absolute;
    bottom: 0;
    padding: 1em;
    height: 4em;
    min-width: 100%;
}

.hero-pc, .info-pc{
    display: none;
}

@media only screen and (min-width : 0px) and (max-width: 480px){
    .btns-mobil{
        padding: 0;
    }
}

@media only screen and (min-width : 481px) and (min-height: 321px) and (max-width:767px){
    html{
        font-size: 16px;
    }

    .btns-mobil{
        grid-template-columns: repeat(auto-fit, minmax(10em, auto));
    }
}

@media only screen and (min-width: 768px) and (max-width:960px){
    html{
        font-size: 15px;
    }

    .container header{
        background-image: url('../img/hero-pc.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        height: auto;        
    }
    
    header::after{
        height: 80%;
        background: linear-gradient(180deg, rgba(0,0,17,.80) 0%, rgba(0,0,0,0) 30%);
    }
    
    .info-mobile, .search, .avatar{
        display: none;
    }

    .info-pc{
        display: inline-block;
    }

    .menu-hamburger{
        justify-content: space-between;
        padding-right: 5em;
        padding-left: 5em;
    }

    .btns-pc{
        margin: 0;
        justify-content: center;
        grid-template-columns: repeat(2, 15em);
    }

    .info-pc{
        font-size: 13px;
        position: relative;
        
        z-index: 9999;
        padding:1em 1em 0.5em 1em;
        margin-bottom: 0.5em;
        width: 50%;
        margin-top: 1em;
    }

    .info-pc p{
        display: none;
    }
    
    .valoration-stars{
        text-align: center;
    }
    
    .info-pc::after{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 17, .50);
        z-index: -1;
    }
}

@media only screen and (min-width : 961px){

    html{
        font-size: 18px;
    }

    .flex{
        padding-top:1.4em;
        justify-content: space-around;
    }
    
    .container header{
        background-image: url('../img/hero-pc.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        height: auto;  
    }

    header::after{
        height: 80%;
        background: linear-gradient(180deg, rgba(0,0,17,.90) 0%, rgba(0,0,0,0) 20%);
    }

    .hero-mobile, .info-mobile, .menu-hamburger{
        display: none;
    }

    .hero-pc, .menu, .search, .avatar, .info-pc{
        display: inline-block;
    }

    .menu{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        width: max-content;
    }

    .menu a{
        padding: 0 0.5em;
    }
    
    .search-flex.is-active{
        width: 20em;
    }

    .info-pc-container{
        width: fit-content;
        margin-bottom: 1em;
        margin-left: 2em;
    }

    .info-pc{
        position: relative;
        padding:1em 1.5em 0.5em 1.5em;
        margin: 1em;
        z-index: 9999;
        width: 32em;
    }

    .info-pc p{
        text-align: justify;
        font-size: 1.1em;
        font-weight: 300;
    }

    .valoration-stars{
        text-align: left;
    }

    .info-pc::after{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 2, 18, 0.50);
        z-index: -1;
    }

    .info-pc button{
        font-size: 15px;
        height: 3em;
        margin: 1em 1.5em 0 1.5em;
    }

    .btn-watch-now{
        font-weight: bold;
    }

    .menu .logo{
        min-width: 16em;
    }

    
    .search{
        font-size: 14px;
        padding-left: 2.5em;
        padding-right: 1.5em;
        margin-right: 1em;
        margin:0.3em 0;
    }

    .avatar{
        font-size: 14px;
        margin-left: 1em;
        margin:0.3em 0;
    }

    .btns-pc{
        margin: 0;
        justify-content: center;
        grid-template-columns: repeat(2, 15em);
    }
    
}





/*
    Fuentes:
    https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile
*/